.list {
	text-align: right;
}


.service1 {
padding: 10px;
	
}

.head {
	text-align: center;
	font-size: 48px;
font-family: 'Thasadith', sans-serif;
}
.serviceimage {
	height: 20vw;
	width: 100%;
	-webkit-box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.50);
	-moz-box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.50);
	box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.50);
}
@media(max-width:800px ) {
 .serviceimage {
    height: 40vw;
    
  }
}
.serviceimage1 {
	height: 20vw;
	width: 100%;
	margin-top: 80px;
	-webkit-box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.50);
	-moz-box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.50);
	box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.50);
}
@media(max-width:800px ) {
 .serviceimage1 {
    height: 50vw;
    margin-top: 0;
    
  }
}
