.cards{
-webkit-box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.75);
box-shadow: 3px 6px 62px -2px rgba(0,0,0,0.75);
margin: 30px;
cursor: pointer;
height: 30vh;



}
.cards:hover {
-webkit-box-shadow: 3px 6px 76px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 76px 1px rgba(0,0,0,0.75);
box-shadow: 3px 6px 76px 1px rgba(0,0,0,0.75);

}

