@import url('https://fonts.googleapis.com/css?family=Thasadith');
.best{
    font-size: 2.5em;
    font-family: 'Thasadith', sans-serif;
}
.para{
    font-size: 1.2em;
   margin-right: auto;
   word-spacing: 0.4em;
}
.one{
    font-size: 1.2em;
}