.foot {
	background-color:#313131;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Footlinks a{
	color: white;
	text-decoration: none;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.address {
	color: white;
	font-size: 1.1em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list-unstyled{
	margin-left: -7%;
}
.title{
	color:snow;

}
.btn{
	flex:right;
	margin-left: 150%;
}
.logo{
	width: 10em;
	margin-top: -5%;
}
.alag{
margin-left: 80%;
margin-top: -5%;
}
.foot{
	background: #ff1a1a;
}
.copy{
	color: white;
}
