@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.links {
 background-color: transparent;
  border:none;
  color: white;  
  cursor: pointer;
  color: white;
  text-decoration:none;
  display: inline-block;
  padding: 10px;

}
.linkNews {
    color: white; 
      cursor: pointer;
  text-decoration:none;
  color: white;
  display: inline-block;
  margin-top: 2px;
}
.linkNews:hover {
 text-decoration:none;
 color: white;
  color: white;
}
.linkNews:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  color: white;
  background: white;
  transition: width .5s ease, background-color .5s ease;
}

.linkNews:hover:after {
  width: 100%;
background: white;
color: white;
}
.btn {
  float: right;


  font-size: 20px;
}
.links:hover {
  text-decoration:none;
  color: white;
  color: white;
}

.linksDrop {
   background-color: transparent;
  border:none;
  color: black;  
  cursor: pointer;
  text-decoration:none;
  color: white;
  display: inline-block;
  padding: 7px;
}
.linksDrop:active {
  text-decoration:none;
  color: white;
}

.distinct {
  color: white; 
}
.links:after {
  content: '';
  display: block;
  height: 1px;
  color: white;
  width: 0;
  background: white;
  transition: width .5s ease, background-color .5s ease;
}

.links:hover:after {
  width: 100%;
background: white;
color: white;
}
@media(max-width:1200px ) {
  .distinct {
    display: none;
  }
   .distinctDrop {
    display: none;
  }
 
}
@media(max-width:800px ) {
 .links {
    text-align: center;
    margin-left: 40%;
    margin-right: 10%;
    color: white;
    
  }
  .linkNews {
    text-align: center;
    margin-left: 43%;
    color: white;
    
  }
}

.brandname{
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.nav{
color: black;
background: #ff1a1a;
}

.distinctDrop {
  margin-top: 9px;
    color: white; 
}
.hp-ctn-howItWorks {
    padding:0px 0px 0px 0px;
    text-align: center;
     margin-top: 50px;
    width: 160px;
    height:40px;
    background:#ff1a1a;
    z-index:15;
    border-radius: 5px 5px 0px 0px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 0px;
    cursor: pointer;
}
.hp-ctn-howItWorks span {
    color:#fff;
    display:inline-block;
    line-height:40px;
}
.btnContact {
  padding:0px 0px 0px 0px;
    text-align: center;
  
    margin-top: 250px;
    width: 160px;
    height:40px;
    background:#ff1a1a;
    z-index:15;
    border-radius: 5px 5px 0px 0px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 0px;
    cursor: pointer;
}
.btnContact span{
    color:#fff;
    display:inline-block;
    line-height:40px;
}

.appp {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border:none;
  text-decoration: none;
  text-align: left;

  
}
.appp:focus {
  outline: 0;
  color: white;
  text-decoration: none;


}
.appp: hover {
 text-decoration: none;
 color: blue;

}
.appLinks {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border:none;
  text-decoration: none;
  padding:0;
  color: white;

}
.appLinks:focus {
  outline: 0;
}

.inText:active{ 
color: white;
width: 100%;
text-decoration: none;
 }
 .inText:focus {
  color: white;
 }
 .inText:hover {
  text-decoration: none;

 }
* {
  font-family: 'Ubuntu', sans-serif;
}
