
.links {
 background-color: transparent;
  border:none;
  color: #7e7e7e;  
  cursor: pointer;
  text-decoration:none;
  display: inline-block;
  padding: 10px;

}
.btn {
  float: right;


  font-size: 20px;
}
.links:hover {
  text-decoration:none;
  color: #515151;
}
.linksDrop {
   background-color: transparent;
  border:none;
  color: black;  
  cursor: pointer;
  text-decoration:none;
  display: inline-block;
  padding: 7px;
}
.linksDrop:active {
  text-decoration:none;
  color: white;
}

.distinct {
  color: #7e7e7e; 
}
.links:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: white;
  transition: width .5s ease, background-color .5s ease;
}

.links:hover:after {
  width: 100%;
background: #515151;
}
@media(max-width:1200px ) {
  .distinct {
    display: none;
  }
 
}
@media(max-width:800px ) {
 .links {
    text-align: center;
    margin-left: 40%;
    
  }
}