@import url('https://fonts.googleapis.com/css?family=Thasadith');
.quote{
    font-size: 2.2em;
    font-family: Ubuntu,sans-serif;
}
.chart{
    width:20em;
    
}
.visit{
    font-size: 1.2em;
   
}

.celpip{
    color: red;
    font-size: 1.2em;
}